<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem name="支付宝"
                  id="odoo_alipay.main_menu"
                  web_icon="odoo_alipay,static/description/icon.png"/>

        <menuitem name="设置" id="odoo_alipay.configure_menu"
                  parent="odoo_alipay.main_menu" sequence="100"
        />

    </data>
</odoo>